
/* General card styling */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    color: black;
    margin: 16px;
    max-width: 300px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Thumbnail styling */
.card-thumbnail {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Card content styling */
.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.card-description {
    font-size: 1em;
    margin-bottom: 16px;
    color: #555;
}

/* Card buttons styling */
.card-buttons {
    /* display: flex; */
    justify-content: space-between;
}

.card-button {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

/* Dark mode styling */
.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode .card-description {
    color: #ccc;
}

.dark-mode .card-button {
    background-color: #555;
}

.dark-mode .card-button:hover {
    background-color: #777;
}

.card img {
    height: 100px;
    object-fit: inherit;
}