/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.journey-section {
  padding: 50px 20px;
  text-align: center;
}

h1 {
  font-size: 1 rem;
  margin-bottom: 10px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.milestone {
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

.milestone:nth-child(odd) {
  align-self: flex-start;
}

.milestone:nth-child(even) {
  align-self: flex-end;
}

.icon-container {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.icon-container img {
  width: 50px;
  height: 50px;
}

.milestone-content {
  flex: 1;
  text-align: left;
}

.milestone-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.milestone-content p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #666;
}

.milestone-content span {
  font-size: 0.9rem;
  color: #4caf50;
}
